{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube Music Player</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="timer-container">
    <link rel="stylesheet" href="styles.css">
    <label for="focusTime">Focus Time (minutes):</label>
    <input type="number" id="focusTime" min="1" step="1" placeholder="Enter time in minutes">
    <button id="setTimer">Set Timer</button>
    <div id="timer" class="timer-clock">
      <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
    </div>
    <button id="startTimer">Start Timer</button>
    <button id="stopTimer">Stop Timer</button>
  </div>


  <!-- YouTube Player -->
  <div class="youtube-player">
    <div id="player"></div>
  </div>

  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="script.js"></script>
</body>
</html>


{% endblock content %}